.env
*.env
flutter/app/macos/Flutter/GeneratedPluginRegistrant.swift
flutter/app/linux/flutter/generated_plugin_registrant.cc
flutter/app/linux/flutter/generated_plugins.cmake
flutter/app/linux/flutter/generated_plugin_registrant.h
flutter/app/windows/flutter/generated_plugins.cmake
flutter/app/windows/flutter/generated_plugin_registrant.h
flutter/app/windows/flutter/generated_plugin_registrant.cc
